* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    height: 100vh;
    overflow: hidden;
}

section {
    /* Make fluid padding */
    padding: 184px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Helper */
.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Socials + ARC */
.container {
    max-width: 1728px;
    width: 100%;
    /* position: relative; */
    margin: 0 auto;
}

.socials {
    position: absolute;
}

.social {
    opacity: 0;
    visibility: hidden;
    font-size: 62.5%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    border-radius: clamp(0.4em, calc(0.4rem + ((1vw - 0.48em) * 1.2821)), 2em);
}

.social img{
    width: 100%;
    height: auto;
}

.social:nth-child(1){ z-index: 0;}
.social:nth-child(2){ z-index: 1;}
.social:nth-child(3){ z-index: 2;}
.social:nth-child(4){ z-index: 4;}
.social:nth-child(5){ z-index: 3;}
.social:nth-child(6){ z-index: 2;}
.social:nth-child(7){ z-index: 1;}
.social:nth-child(8){ z-index: 0;}

.arc {
    position: relative;
    z-index: -1;
}

.arc svg {
    width: 100%;
    height: auto;
    
}

.arc .rects rect {
    fill: none;
}

.arc .path {
    stroke-dasharray: 0 1751.7978515625;
    stroke-dashoffset: -875.5;
}